.wound-manager {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    width: 80%;
    height: 100%;
    border-radius: .4em;
    padding: 2em;

    &__title {
        margin: 0 0 1em 0;
    }

    &__wound {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background: #fff;
        border-radius: .4em;
        margin: 0 1em 0 0;

        &__canvas {
            width: 350px;
        }

        &__input {
            padding: 1em;
            margin: 0 0 .5em 0;
        }

        &__inputs {
            margin: .5em 0 0 0;
            flex: 1;
        }
    }
}