.table-component {
    &__table {
        width: 100%;

        svg {
            font-size: 2em;
            color: gray;
            cursor: pointer;
        }
    }

    &__paginator {
        position: absolute;
        bottom: 1em;
    }
}