.multimodal {
  // width: 80%;
  background: #f8f8f8;
  border-radius: 0.4em;
  padding: 2em;

  &__paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    width: 100%;

    & > p {
      color: #23A2D1;
    }

    button {
      background: #23A2D1;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__text {
        font-weight: normal;
        margin: 0 0 .5em 0;
    }

    &__close {
        font-size: 2em;
        cursor: pointer;
    }
  }
}
