.modal {
    position: absolute;
    top: 7%;
    width: 20%;
    height: 50%;
    background: #222;
    border-radius: .4em;
    padding: 1em;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 1;

    // TODO implement actual DOM events to remove components before animation
    pointer-events: none;

    &__title {
        font-size: 1.3em;
        color: #f1f1f1;
        font-weight: 400;
    }

    &--visible {
        opacity: 1;
        pointer-events: all;
    }
}