.patient-component {

    &__paginator {
        position: absolute;
        bottom: 0;
    }

    &__table {
        width: 100%;

        svg {
            font-size: 2em;
            color: gray;
            cursor: pointer;
        }
    }
}