.template {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 10% 1fr;
    grid-gap: 1em;
    grid-template-areas: 
        "nav topbar"
        "nav main";

    &__main {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}