.template {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 10% 4% 1fr;
    grid-gap: 1em;
    grid-template-areas: 
        "nav topbar"
        "nav header"
        "nav main";

    &__header {
        grid-area: header;
        font-size: 1.8em;
    }

    &__main {
        grid-area: main;
        margin: 0 1em 1em 0;
        position: relative;
        
        &--grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
    }
}